@font-face {
	font-family: 'Cardo';
	src: url('/fonts/Cardo-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Cardo';
	src: url('/fonts/Cardo-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'JosefinSans';
	src: url('/fonts/JosefinSans-Regular.ttf');
	font-weight: normal;
}

html {
	font-family: 'Cardo', serif;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	cursor: pointer;
	height: calc(100% - 20px);
}

#background-image {
	background-image: url('/images/background2.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: calc(100% + 40px);
	width: calc(100% + 40px);
	-webkit-transform: translate(-20px, -20px);
			transform: translate(-20px, -20px);
	-webkit-transition: all 0.65s ease-out;
			transition: all 0.65s ease-out;
}

#background-image.blur {
	-webkit-filter: blur(5px);
			filter: blur(5px);
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em 2.5em;
	background: rgba(255, 255, 255, 0.3);
	z-index: 100;
	text-align: center;
	-webkit-transform: translate(0, calc(100% - 20px));
	        transform: translate(0, calc(100% - 20px));
	-webkit-transition: transform 0.25s ease;
	        transition: transform 0.25s ease;
}

nav:hover, nav.active {
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
}

nav a {
	display: inline-block;
	color: #222;
	margin-right: 3.5em;
	font-size: 1em;
	font-family: 'JosefinSans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
/*	background: rgba(255, 255, 255, 0.6);*/
	padding: 2em;
	opacity: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
	-webkit-transition: opacity 0.65s ease-out;
			transition: opacity 0.65s ease-out;
}

.arrow {
	position: absolute;
	padding: 2em;
}

.arrow p {
	font-size: 5em;
	opacity: 0.7;
}

#right-arrow {
	top: 50%;
    left: 100%;
	-webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
}

#left-arrow {
	display: none;
	top: 50%;
    left: 0;
	-webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

h1 {
	font-family: 'Cardo', serif;
	font-weight: normal;
	margin: 0;
}

h1, h3 {
	color: rgba(255, 255, 255, 0.7);
}

h3 {
	font-family: 'JosefinSans', sans-serif;
	font-weight: normal;
}

h1 span {
	font-family: 'JosefinSans', sans-serif;
	font-weight: normal;
	font-size: 0.5em;
}

#header {
	cursor: pointer;
	-webkit-transition: all 0.65s linear;
			transition: all 0.65s linear;
}

#header h1, h3 {
	opacity: 0.7;
	-webkit-transition: opacity 0.2s linear;
			transition: opacity 0.2s linear;
}

#header:hover h1 {
	opacity: 1;
}

#header:hover h3 {
	opacity: 1;
}

#header.swipe {
	-webkit-transform: translate(calc(-50vw - 100%), -50%);
			transform: translate(calc(-50vw - 100%), -50%);
}

strong {
	font-family: 'Cardo', serif;
	font-weight: bold;
	font-size: 1.5em;
}

#info {
	max-width: 26%;
	cursor: pointer;
	-webkit-transform: translate(50vw, 50%);
			transform: translate(50vw, -50%);
	-webkit-transition: all 0.65s linear;
			transition: all 0.65s linear;
}

#info.swipe {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.animate {
	opacity: 0.7 !important;
}